
/* Cities List */

.CitiesList {
	max-width: 48em;
	margin-top: 1em;
	/*text-align: center;*/
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

/* Cities List item */

.CitiesList-item {
	margin: .25em;
	border: 1px black solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1em;
	padding: .5em 1em;
	/*white-space: nowrap;*/
	cursor: pointer;
}

@media (min-width: 48em) {


	/* Cities List item */

	.CitiesList-item {
		margin: .5em .25em;
	}

}