
/* Headline */

.Headline {
	position: relative;
	width: 100%;
	text-align: center;
}

/* Headline lead */

.Headline-lead {
	font-size: 1.5em;
	line-height: 1.25;
	font-weight: 700;
}

/* Headline lead strong */

.Headline-lead strong {
	display: block;
	font-size: 1.3125em;
	font-weight: 900;
}

@media (min-width: 48em) {

	.Headline {
		text-align: left;
	}

}

@media (min-width: 60em) {

	.Headline {
		padding: 3em 1em 0 3em;
	}

	.Headline-lead {
		font-size: 3em;
	}

	.Headline-lead strong {
		display: block;
	}

}