
/* Headline */

.Headline {
	padding: 1em 0;
	position: relative;
	text-align: center;
	width: 100%;
}

/* Headline lead */

.Headline-lead {
	font-size: 1.5em;
	line-height: 1.25;
	font-weight: 700;
}

/* Headline lead strong */

.Headline-lead strong {
	display: block;
	font-size: 1.3125em;
	font-weight: 900;
}

/* Headline sublead */

.Headline-sublead {
	color: #616161;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.6;
	max-width: 24rem;
	padding: .75em 0;
}

/* Headline sublead link */

.Headline-sublead a {
	color: #ef5350;
	text-decoration: none;
	border-bottom: 1px #ef5350 dotted;
}

.Headline-sublead a:hover {
	color: #e53935;
	border-bottom-style: solid;
}

@media (min-width: 48em) {

	.Headline {
		text-align: left;
	}

}

@media (min-width: 60em) {

	.Headline {
		padding: 2em 1em 0 3em;
	}

	.Headline-lead {
		font-size: 2.625em;
	}

	.Headline-lead strong {
		display: block;
	}

}