
/* Headline Contact Item */

.HeadlineContactItem {

}

.HeadlineContactItem:first-of-type {
	margin-right: 1em;
}

.HeadlineContactItem:hover {
	color: #c5322b;
	fill: #c5322b;
}

/* Headline Contact Item link */

.HeadlineContactItem-link {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.HeadlineContactItem-icon {
	position: relative;
	font-size: 1.25em;
}

.HeadlineContactItem-icon svg {
	height: 100%;
	width: 100%;
}

@media (min-width: 48em) {

	/* Headline Contact Item link */

	.HeadlineContactItem-link {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}

}