
/* Logo */

.Logo {
	height: 6em;
}

/* Logo svg */

.Logo svg {
	height: 100%;
	width: 6em;
	display: block;
}

/* Logo select area */

.Logo-select-area {
	height: 100%;
	width: 100%;
}

/* Logo inner */

.Logo-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.Logo #CenturionLogoPlace-main {
	fill: #b71c1c;
}

.Logo #CenturionLogoPlace-circle {
	fill: #ffffff;
}

.Logo #CenturionLogoPlace-c {
	fill: #212121;
}

.Logo #CenturionLogoGlobo {
	fill: #212121;
}

.Logo #CenturionLogoMoon {
	fill: #b71c1c;
}

@media (min-width: 48em) {

	/* Logo */

	.Logo {
		height: 8em;
	}

	/* Logo svg */

	.Logo svg {
		height: 8em;
		display: block;
	}

}