
/* Button default */

.Button {
	background: #9e9e9e;
	border-style: solid;
	border-width: 1px 1px 3px 1px;
	border-color: #9e9e9e #616161 #616161 #616161;
	border-radius: 3px;
	color: #212121;
	font-size: .725em;
	font-weight: 800;
	height: 3em;
	margin-top: .5em;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

/* Button hover state */

.Button:hover {
	opacity: 0.9;
}

/* Button pressed state */

.Button:active {
	background: #757575;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #757575 #616161 #616161 #616161;
	border-radius: 3px;
	color: #eeeeee;
}

/* Red button style */

.Button-red {
	background: #c5322b;
	border-color: #c5322b #c62828 #c62828 #c62828;
	color: #eee;
}

.Button-red:active {
	background: #b71c1c;
	border-color: #b71c1c #c62828 #c62828 #c62828;
	color: #e0e0e0;
}